{{ header }}
<div id="information-information" class="wrapper" >
  
    <div id="content" class="{{ class }}">
      {{ content_top }}
      {{ description }}
      {{ content_bottom }}
      </div>
   
</div>
{{ footer }}